<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna - Książka kucharska</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
<body>

<div class="container">
    <div class="jumbotron home-jumbo">
        <div class="container text-center text-white jumbo-container">
        </div>
    </div>

<!--    <form th:action="@{/recipe}" method="post" th:object="${recipe}"></form>-->
    <a th:href="@{/}">Powrót do strony głównej</a>

<!--    <a th:href="|/usun/${recipe.id}|">Usuń</a>-->
<!--    <a th:if="${mode} == 'edit'">Edytuj przepis</a>-->
<!--    <a th:if="${mode} == 'delete'">Usuń przepis</a><br/>-->
    <h1 th:text="${recipe.name}"></h1>
    <p th:text="'Składniki: ' + ${recipe.ingredients}"></p>
    <p th:text="'Opis: ' + ${recipe.description}"></p>
    <img th:src="${recipe.getJpg()}" ></br>




</div>
</body>
</html>